@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://img.freepik.com/free-vector/digital-glowing-currency-sign-background-with-text-space_1017-52412.jpg?t=st=1731934712~exp=1731938312~hmac=2ba3cda1f0479f6e19188709f3a1a67074b023f0cd4e4752ad2522724f719b76&w=1060");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}

.container {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 320px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 1.2rem;
}

select {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#rate {
    color: #1a5b24;
    font-size: 24px;
    margin-top: 40px;
}